<style>
  .flex-even {
    flex: 1;
  }
</style>
<!-- row top header -->
<div class="d-flex flex-row mb-2">
  <div class="mr-auto p-2">
    <h3>
      <%= @product.title %>
    </h3>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <!-- Price part rows-->
    <div class="d-flex flex-column my-2 border">
      <div class="p-2 bg-dark text-white border-bottom">
        <spam class="h5">Price</spam>
      </div>
      <div class="p-2 text-center bg-clear text-secondary">
        <h3>
          <% if @product.unit_price.present? %> <% if @product.currency == "EUR"
          %> <%= number_to_euro(@product.unit_price) %> <% elsif
          @product.currency == "TL" %> <%= number_to_tl(@product.unit_price) %>
          <% elsif @product.currency == "USD" %> <%=
          number_to_usd(@product.unit_price) %> <% end %> <% else %>
          <spam>Price on request</spam>
          <% end %>
        </h3>
      </div>
    </div>
    <!-- End of Price Part-->
    <!-- flex part rows-->
    <div class="d-flex flex-column border my-2">
      <div class="p-2 bg-dark text-white border-bottom">
        <spam class="h5">General</spam>
      </div>
      <!-- flex part item row-->
      <div class="d-flex flex-row p-2 border-bottom">
        <div class="flex-even">
          <strong>Brand:</strong>
        </div>
        <div class="flex-even">
          <%= @product.brand_name %>
        </div>
      </div>
      <!-- flex part item row end-->
      <!-- flex part item row-->
      <div class="d-flex flex-row p-2 border-bottom">
        <div class="flex-even">
          <strong>Technology:</strong>
        </div>
        <div class="flex-even">
          <%= @product.technology_name %>
        </div>
      </div>
      <!-- flex part item row end-->
      <!-- flex part item row-->
      <div class="d-flex flex-row p-2 border-bottom">
        <div class="flex-even">
          <strong>Model Year:</strong>
        </div>
        <div class="flex-even">
          <%= @product.model_year %>
        </div>
      </div>
      <!-- flex part item row end-->
      <!-- flex part item row-->
      <div class="d-flex flex-row p-2 border-bottom">
        <div class="flex-even">
          <strong>Model Code:</strong>
        </div>
        <div class="flex-even">
          <%= @product.model_code %>
        </div>
      </div>
      <!-- flex part item row end-->
      <!-- flex part item row-->
      <div class="d-flex flex-row p-2 border-bottom">
        <div class="flex-even">
          <strong>Machine condition:</strong>
        </div>
        <div class="flex-even">
          <%= @product.condition %>
        </div>
      </div>
      <!-- flex part item row end-->
      <!-- flex part rows-->
      <div class="d-flex flex-row p-2 border-bottom">
        <div class="flex-even">
          <strong>Description:</strong>
        </div>
        <div class="flex-even">
          <%= @product.description %>
        </div>
      </div>
    </div>

    <div class="d-flex flex-column border my-2">
      <div class="p-2 bg-dark text-white border-bottom">
        <spam class="h5">Offer Details</spam>
      </div>
      <!-- flex part item row-->
      <div class="d-flex flex-row p-2 border-bottom">
        <div class="flex-even">
          <strong>Item code:</strong>
        </div>
        <div class="flex-even">
          <%= @product.item_code %>
        </div>
      </div>
      <!-- flex part item row end-->
      <!-- flex part item row-->
      <div class="d-flex flex-row p-2 border-bottom">
        <div class="flex-even">
          <strong>Offer type:</strong>
        </div>
        <div class="flex-even">
          <%= @product.offer_type %>
        </div>
      </div>
      <!-- flex part item row end-->
      <!-- flex part item row-->
      <div class="d-flex flex-row p-2 border-bottom">
        <div class="flex-even">
          <strong>Last updated:</strong>
        </div>
        <div class="flex-even">
          <%= @product.updated_at.strftime("at %d.%m.%Y") %>
        </div>
      </div>
      <!-- flex part item row end-->
    </div>
    <%= link_to 'Edit', edit_product_path(@product) %> | <%= link_to 'Back',
    products_path %>
  </div>
  <!-- right side  -->
  <div class="col-md-6">
    <% if @product.pictures? %>
    <!-- Pictures blok  -->
    <div class="d-flex flex-column my-2 border">
      <div class="p-2 bg-dark text-white border-bottom">
        <spam class="h5">Pictures</spam>
      </div>
      <div class="d-flex flex-wrap justify-content-center">
    <div
      id="carousel-example-1z"
      class="carousel slide carousel-fade"
      data-ride="carousel"
    >
      <!--Indicators-->
      <ol class="carousel-indicators">
        <% @product.pictures.each_with_index do |pic, n| %>
        <li
          data-target="#carousel-example-1z"
          data-slide-to="<%= n %>"
          class="<% 'active' if n == 0 %>"
        ></li>
      <% end %>
      </ol>
      <!--/.Indicators-->
      <!--Slides-->
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <%= image_tag(@product.pictures.first.url(:large), class: "d-block w-100") %>
        </div>
        <% @product.pictures.drop(1).each do |pic| %>
          <div class="carousel-item">
            <%= image_tag pic.url(:large), class: "d-block w-100" %>
          </div>
        <% end %>
      </div>
      <!--Controls-->
      <a
        class="carousel-control-prev"
        href="#carousel-example-1z"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#carousel-example-1z"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      <!--/.Controls-->
    </div>
    <!--/.Carousel Wrapper-->
      </div>
    </div>
    <!-- end of pictures -->
    <% end %>
  </div>
  <!-- end of row  -->
  <hr />
</div>
