<p id="notice"><%= notice %></p>

<h1>Sales</h1>

<table class="table table-responsive-sm">
  <thead>
    <tr>
      <th>Company</th>
      <th>Address</th>
      <th>Status</th>
      <th>Offer Type</th>
      <th>Total</th>
      <th>Vat</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <% if sale.company.present? %>
        <td class="text-capitalize"><%= link_to sale.company.title, sale %></td>
      <% else %>
        <td class="text-capitalize"><%= link_to sale.company_title, sale %></td>
      <% end %>
        <td><%= sale.address %></td>
        <td><%= sale.status %></td>
        <td><%= sale.offer_type %></td>
        <td class="text-nowrap"><%= set_currency(sale.total, sale.currency) %></td>
        <td><%= sale.vat %></td>
        <td><%= link_to 'Edit', edit_sale_path(sale), class: "btn btn-primary btn-sm" %></td>
        <td><%= link_to 'X', sale, {class: "btn btn-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' }} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sale', new_sale_path, class: "btn btn-success" %>
