<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <%= link_to "Salesman", root_path, class: "navbar-brand" %>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <% if user_signed_in? %>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
    <%= link_to "Sales", sales_path, class: "nav-item nav-link" %>
    <%= link_to "People", people_path, class: "nav-item nav-link" %>
    <%= link_to "Products", products_path, class: "nav-item nav-link" %>
    <%= link_to "Companies", companies_path, class: "nav-item nav-link" %>
    </div>
  <% end %>
    <ul class="navbar-nav ml-auto">
    <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to current_user.name, edit_user_registration_path, :class => 'nav-link' %>
        </span>
      </li>
      <li class="nav-item">
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'nav-link'  %>
      </li>
    <% elsif %>
      <li class="nav-item">
        <%= link_to "Login", new_user_session_path, :class => 'nav-link'  %>
      </li>
    <% end %>
    </ul>
  </div>
</nav>
